target/
*.class
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea/
*.iml
*.iws
.project
.classpath
.settings/
*.sts4-cache

.DS_Store
Thumbs.db

node_modules/
dist/
.angular/
npm-debug.log*
frontend/src/main/anagrams-ui/node_modules/
frontend/src/main/anagrams-ui/dist/
frontend/src/main/anagrams-ui/.angular/

*.env
